
mobike-df.pickle

data-BTI-2006-2018.csv

pickledDF.pickle

Ressources/country-iso.csv

Ressources/data-CPI-2018.xlsx

Ressources/data-heritage-2019.xls

Ressources/data-ratings-2015.csv

Ressources/Data-sheet-STUDENTS-notice.xlsx

Ressources/Data-sheet-STUDENTS.xlsx

Ressources/data.pickle

Ressources/savedDF.pickle

Ressources/UTSEUS-MOBIKE-shanghai_full.csv

mobikeDF.pickle
